server:
  port: 8199
  # Increase the max header size for requests arriving at the gateway
  #max-http-header-size: 16KB # 16 KB (Double the default)
config:
  api-name: "api"
  uris:
    ACCOUNTS: http://localhost:9082
    LOANS: http://localhost:8097
    CARDS: http://localhost:9010
  endpoints:
    ACCOUNTS: "accounts"
    CUSTOMERS: "customer"
    LOANS: "loans"
    CARDS: "cards"
spring:
  application:
    name: "gatewayserver"

  #########################################################
  #Properties for security
  #########################################################
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:7080/realms/wladecodeusers
          jwk-set-uri: http://localhost:7080/realms/wladecodeusers/protocol/openid-connect/certs

  #########################################################
  #Configuration gateway
  #########################################################
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
    gateway:
      #globalcors:
      #  cors-configurations:
      #    '[/**]':
      #      allowedOrigins: "*"
      #      allowedMethods: "*"
      #      allowedHeaders: "*"
      #      allowCredentials: true
      #httpclient:
        # Increase the max header size for requests originating from the gateway
        #max-header-size: 16384 # 16 KB (Double the default)

      #Configuration for service discovery (all details about microservices are fetched from Eureka)
      server:
        webflux:
          discovery:
            locator:
              enabled: false # to disable default routes
              lowerCaseServiceId: true
      routes:
        # CONFIG POR ACCOUNTS MS
        - id: accounts-ms-actuator
          uri: ${config.uris.ACCOUNTS}
          predicates:
            - Path=/${config.api-name}/${config.endpoints.ACCOUNTS}/actuator/**
          filters:
            - RewritePath=/${config.api-name}/${config.endpoints.ACCOUNTS}/actuator/(?<segment>.*), /actuator/$\{segment}
        - id: accounts-ms
          uri: ${config.uris.ACCOUNTS}
          predicates:
            - Path=/${config.api-name}/${config.endpoints.ACCOUNTS}/**
          filters:
            - RewritePath=/${config.api-name}/${config.endpoints.ACCOUNTS}/(?<segment>.*), /accounts/\${segment}
            - AddResponseHeader=X-Server, DiamonCode

        # CONFIG POR CUSTOMERS MS
        - id: accounts-ms-customers
          uri: ${config.uris.ACCOUNTS}
          predicates:
            - Path=/api/customer/**
          filters:
            - RewritePath=^/api/customer/(?<segment>.*), /customer/\${segment}
            - AddResponseHeader=X-Server, DiamonCode

        # CONFIG POR LOANS MS
        - id: loans-ms-actuator
          uri: ${config.uris.LOANS}
          predicates:
            - Path=/${config.api-name}/${config.endpoints.LOANS}/actuator/**
          filters:
            - RewritePath=/${config.api-name}/${config.endpoints.LOANS}/actuator/(?<segment>.*), /actuator/$\{segment}
        - id: loans-ms
          uri: ${config.uris.LOANS}
          predicates:
            - Path=/${config.api-name}/${config.endpoints.LOANS}/**
          filters:
            - RewritePath=/${config.api-name}/${config.endpoints.LOANS}/(?<segment>.*), /loans/$\{segment}
            - AddResponseHeader=X-Server, DiamonCode
            - AddResponseHeader=X-Country, EC

        # CONFIG POR CARDS
        - id: cards-ms-actuator
          uri: ${config.uris.CARDS}
          predicates:
            - Path=/${config.api-name}/${config.endpoints.CARDS}/actuator/**
          filters:
            - RewritePath=/${config.api-name}/${config.endpoints.CARDS}/actuator/(?<segment>.*), /actuator/$\{segment}
        - id: cards-ms
          uri: ${config.uris.CARDS}
          predicates:
            - Path=/${config.api-name}/${config.endpoints.CARDS}/**
          filters:
            - RewritePath=/${config.api-name}/${config.endpoints.CARDS}/(?<segment>.*), /cards/$\{segment}
            - AddResponseHeader=X-Server, DiamonCode
  #USED BY LOG AGREGATION WITH ZIPKIN
  sleuth:
    sampler:
      percentage: 1
  zipkin:
    baseUrl: http://localhost:9411/

#########################################################
#Actuator endpoint
#FOr all endpoints management.endpoints.web.exposure.include=*
#########################################################
management:
  # Enables actuator/gateway
  endpoint:
    gateway:
      access: unrestricted
  endpoints:
    web:
      exposure:
        include: "*"
  # Enables actuator/info
  info:
    env:
      enabled: true

#########################################################
#Configuration info
#########################################################
info:
  application:
    name: '@project.name@'
    description: '@project.description@'
    version: '@project.version@'

logging:
  level:
    com.wladecode.diamoncode.apigateway: DEBUG
    #root: DEBUG
    #org.springframework: DEBUG
    org.springframework.cloud.gateway: ERROR
    #reactor.netty.http.client: DEBUG
    #com.diamoncode.diamonbankapigateway: DEBUG

    org.springframework.security: DEBUG


#########################################################
#Eureka client configuration
#########################################################
eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/


