#DEPLOY_ENVIRONMENT=dev|qa|prod
DEPLOY_ENVIRONMENT=dev


#Images
CONFIG_SERVER_IMAGE=chamow01/diamonbank-config-server:latest
EUREKA_SERVER_IMAGE=chamow01/diamonbank-eureka-server:latest
ACCOUNTS_IMAGE=chamow01/diamonbank-accounts:latest
LOANS_IMAGE=chamow01/diamonbank-loans:latest
CARDS_IMAGE=chamow01/diamonbank-cards:latest