services:
  deploy_area:
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=${DEPLOY_ENVIRONMENT}
      - SPRING_CONFIG_IMPORT=configserver:http://configserver:8080/
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eurekaserver:8080/eureka/
      - I18N_URL=http://dci18n:8080/
      - SPRING_ZIPKIN_BASEURL=http://zipkin:9411/
      - SPRING_RABBITMQ_HOST=rabbit_server
      - SPRING_RABBITMQ_PORT=5672
      - SPRING_RABBITMQ_USERNAME=guest
      - SPRING_RABBITMQ_PASSWORD=guest
      - SPRING_RABBITMQ_QUEUE=rabbit-queue-testing
      - SPRING_RABBITMQ_EXCHANGE=rabbit-exchange-testing
      - SPRING_RABBITMQ_ROUTING=rabbit-routing-testing
